<!DOCTYPE html>
<html lang="vi">
<head>
    <title>Biên Bản Sự Việc</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            margin: 0;
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 15px;
        }

        td,
        th {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
        }

        .header {
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }

        .logo {
            text-align: left;
        }

        .header-right {
            text-align: right;
        }

        .red {
            color: red;
        }

        .center-text {
            text-align: center;
        }

        .no-border {
            border: none;
        }

        /* ✅ Watermark */
        .watermark {
            position: fixed;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            opacity: 0.1;
            text-align: center;
        }

        .watermark img {
            width: 80vw;
            /* chiếm 80% chiều rộng trang */
            height: auto;
        }


        /* CSS cho in ấn */
        @media print {
            @page {
                size: A4;
                margin: 0;
            }

            body {
                margin: 1.5cm;
                padding: 0;
                -webkit-print-color-adjust: exact !important;
                print-color-adjust: exact !important;
            }
        }
    </style>
</head>
<body>
    <% if (watermarkBase64) { %>
        <div class="watermark">
            <img src="<%= watermarkBase64 %>" />
        </div>
        <% } %>
        
        <div class="header">
            <div class="logo">
                <img class="logo" src="<%= logoBase64 %>" style="width: 80px; height: 40px;" />
            </div>
            <div class="company-name">
                CÔNG TY CỔ PHẦN CÔNG NGHIỆP M.E.C.I
            </div>
        </div>

        <h2>BIÊN BẢN SỰ VIỆC</h2>
        <p style="text-align: center;">(Mã biên bản: <span class="red"><%= maBBSV %></span>)</p>
        
        <div class="content">
            <p>- Căn cứ sự việc/thông tin thu thập <%= ngayLapBB %></p>
            <p>Hôm nay, ngày … tháng … năm …. Tại: Công ty cổ phần công nghiệp M.E.C.I</p>
            <p>Chúng tôi gồm:</p>
            
            <p><b>I. NGƯỜI LẬP BIÊN BẢN: </b></p>
            <p>- Ông/Bà: <span class="red"><%= nguoiLapBB %></span>..............................................| Chức vụ:.........................................</p>
            
            <p><b>II. NGƯỜI CHỨNG KIẾN: </b></p>
            <p>- Ông/Bà:..............................................| Chức vụ:.........................................</p>
            
            <p><b>III. BỘ PHẬN LIÊN QUAN: </b><%= boPhanLienQuan %></p>
            
            <% nguoiLienQuanList.forEach(function(person) { %>
                <p>- Ông/Bà: <span class="red"><%= person %></span>..............................................| Chức vụ:..........................................</p>
            <% }); %>
            
            <p>- Tiến hành lập biên bản sự vụ sau đây:</p>
            <p><span class="red"><%= suViec %></span></p>
            
            <p>- Yêu cầu xử lý:</p>
            <p><span class="red"><%= xuLy %></span></p>
            
            <p>- Ngày yêu cầu xử lý:</p>
            <p><span class="red"><%= ngayYeuCauXuLy %></span></p>
        </div>
        
        <div class="signature">
            <div>NGƯỜI LẬP BIÊN BẢN<br>(Ký và ghi rõ họ tên)</div>
            <div>NGƯỜI CHỨNG KIẾN<br>(Ký và ghi rõ họ tên)</div>
            <div>NGƯỜI LIÊN QUAN<br>(Ký và ghi rõ họ tên)</div>
        </div>
    </div>
</body>
</html>