<h1 class="text-center">📊 Dashboard Doanh số</h1>
<table border="1" style="width:100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th>Nhân viên</th>
      <th>Tổng doanh số</th>
      <th>Số đơn</th>
      <th>Số đơn chốt</th>
      <th>Doanh số chốt</th>
      <th>Số đơn hủy</th>
      <th>Doanh số hủy</th>
      <th>Số báo giá</th>
    </tr>
  </thead>
  <tbody>
    <% sales.forEach(nv => { %>
      <tr>
        <td><%= nv.nhanVien %></td>
        <td><%= nv.tongDoanhSo.toLocaleString("vi-VN") %></td>
        <td><%= nv.tongDon %></td>
        <td><%= nv.soDonChot %></td>
        <td><%= nv.doanhSoChot.toLocaleString("vi-VN") %></td>
        <td><%= nv.soDonHuy %></td>
        <td><%= nv.doanhSoHuy.toLocaleString("vi-VN") %></td>
        <td><%= nv.soBaoGia %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
